.w-btn:not(.w-btn-clean) {
  @apply font-semibold rounded-$rounded-btn inline-flex items-center justify-center select-none transition duration-200 transform active:(animate-none hover:scale-95 focus:scale-95) outline-offset-2;
   /* animation does not take effect in @apply and is not being scanned/extracted */
  animation: btnpop 0.25s ease-out; 

  &.w-btn-primary {
    &.w-btn-default {
      @apply bg-primary-200 text-white hover:bg-primary-300 shadow-sm;
      &.w-btn-active {
        @apply bg-primary-300;
      }
    }
    &.w-btn-outline {
      @apply text-primary-200 hover:(bg-primary-200 text-white) border-2 border-primary-200;
      &.w-btn-active {
        @apply bg-primary-200 text-white;
      }
    }
    &.w-btn-transparent {
      @apply text-primary-200 hover:(bg-primary-200/10);
      &.w-btn-active {
        @apply bg-primary-200/10;
      }
    }
    &.w-btn-link {
      @apply text-primary-200 hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
  }
  &.w-btn-secondary {
    &.w-btn-default {
      @apply bg-secondary-200 text-white hover:bg-secondary-300 shadow-sm;
      &.w-btn-active {
        @apply bg-secondary-300;
      }
    }
    &.w-btn-outline {
      @apply text-secondary-200 hover:(bg-secondary-200 text-white) border-2 border-secondary-200;
      &.w-btn-active {
        @apply bg-secondary-200 text-white;
      }
    }
    &.w-btn-transparent {
      @apply text-secondary-200 hover:(bg-secondary-200/10);
      &.w-btn-active {
        @apply bg-secondary-200/10;
      }
    }
    &.w-btn-link {
      @apply text-secondary-200 hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
    
  }
  &.w-btn-success {
    &.w-btn-default {
      @apply bg-success-200 text-white hover:bg-success-300 shadow-sm;
      &.w-btn-active {
        @apply bg-success-300;
      }
    }
    &.w-btn-outline {
      @apply text-success-200 hover:(bg-success-200 text-white) border-2 border-success-200;
      &.w-btn-active {
        @apply bg-success-200 text-white;
      }
    }
    &.w-btn-transparent {
      @apply text-success-200 hover:(bg-success-200/10);
      &.w-btn-active {
        @apply bg-success-200/10;
      }
    }
    &.w-btn-link {
      @apply text-success-200 hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
   
  }
  &.w-btn-danger {
    &.w-btn-default {
      @apply bg-danger-200 text-white hover:bg-danger-300 shadow-sm;
      &.w-btn-active {
        @apply bg-danger-300;
      }
    }
    &.w-btn-outline {
      @apply text-danger-200 hover:(bg-danger-200 text-white) border-2 border-danger-200;
      &.w-btn-active {
        @apply bg-danger-200 text-white;
      }
    }
    &.w-btn-transparent {
      @apply text-danger-200 hover:(bg-danger-200/10);
      &.w-btn-active {
        @apply bg-danger-200/10;
      }
    }
    &.w-btn-link {
      @apply text-danger-200 hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
  }
  &.w-btn-warning {
    &.w-btn-default {
      @apply bg-warning-200 text-white hover:bg-warning-300 shadow-sm;      
      &.w-btn-active {
        @apply bg-warning-300;
      }
    }
    &.w-btn-outline {
      @apply text-warning-200 hover:(bg-warning-200 text-white) border-2 border-warning-200;
      &.w-btn-active {
        @apply bg-warning-200 text-white;
      }
    }
    &.w-btn-transparent {
      @apply text-warning-200 hover:(bg-warning-200/10);
      &.w-btn-active {
        @apply bg-warning-200/10;
      }
    }
    &.w-btn-link {
      @apply text-warning-200 hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
   
  }
  &.w-btn-disabled {
    @apply cursor-not-allowed pointer-events-none !bg-opacity-70 border-opacity-50 text-opacity-80;
  }
  &.w-btn-loading {
    @apply pointer-events-none;
  }
  &.w-btn-pills {
    @apply rounded-full;
  }
  &.w-btn-xs {
    @apply h-8  px-2 text-xs;
    &.w-btn-circle {
      @apply rounded-full w-8 !p-0;
    }
    .w-icon-loading {
      @apply h-3 w-3 mr-1; 
    }
  }
  &.w-btn-sm {
    @apply h-10  px-3 text-sm;
    &.w-btn-circle {
      @apply rounded-full w-10 !p-0;
    }
    .w-icon-loading {
      @apply h-4 w-4 mr-2; 
    }
  }
  &.w-btn-md {
    @apply h-12 px-4 text-sm;
    &.w-btn-circle {
      @apply rounded-full w-12 !p-0;
    }
    .w-icon-loading {
      @apply h-5 w-5 -ml-1 mr-2; 
    }
  }
  &.w-btn-lg {
    @apply h-14 px-5 text-base;
    &.w-btn-circle {
      @apply rounded-full w-14 !p-0;
    }
    .w-icon-loading {
      @apply h-6 w-6 -ml-1 mr-3; 
    }
  }
  &.w-btn-xl {
    @apply h-16 px-6 text-xl;
    &.w-btn-circle {
      @apply rounded-full w-16 !p-0;
    }
    .w-icon-loading {
      @apply h-7 w-7 -ml-1 mr-3; 
    }
  }
  .w-icon-loading {
    @apply animate-spin;      
  }
}

@keyframes btnpop{
    0% {
      transform: scale(0.95);
    }
    40% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
