.w-btn:not(.w-btn-clean) {
  @apply font-semibold rounded-$rounded-btn inline-flex items-center justify-center select-none transition duration-200 transform active:(animate-none hover:scale-95 focus:scale-95) outline-offset-2;
  /* animation does not take effect in @apply and is not being scanned/extracted */
  animation: btnpop 0.25s ease-out;

  &.w-btn-primary {
    &:focus-visible {
      @apply outline-primary;
    }
    &.w-btn-default {
      @apply bg-primary text-primary-content hover:bg-primary-focus shadow-sm;
      &.w-btn-active {
        @apply bg-primary-focus;
      }
    }
    &.w-btn-outline {
      @apply text-primary hover:(bg-primary text-primary-content) border-2 border-primary;
      &.w-btn-active {
        @apply bg-primary text-primary-content;
      }
    }
    &.w-btn-transparent {
      @apply text-primary hover:(bg-primary/10);
      &.w-btn-active {
        @apply bg-primary/10;
      }
    }
    &.w-btn-link {
      @apply text-primary hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
  }
  &.w-btn-secondary {
    &:focus-visible {
      @apply outline-secondary;
    }
    &.w-btn-default {
      @apply bg-secondary text-secondary-content hover:bg-secondary-focus shadow-sm;
      &.w-btn-active {
        @apply bg-secondary-focus;
      }
    }
    &.w-btn-outline {
      @apply text-secondary hover:(bg-secondary text-secondary-content) border-2 border-secondary;
      &.w-btn-active {
        @apply bg-secondary text-secondary-content;
      }
    }
    &.w-btn-transparent {
      @apply text-secondary hover:(bg-secondary/10);
      &.w-btn-active {
        @apply bg-secondary/10;
      }
    }
    &.w-btn-link {
      @apply text-secondary hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
  }
  &.w-btn-success {
    &:focus-visible {
      @apply outline-success;
    }
    &.w-btn-default {
      @apply bg-success text-success-content hover:bg-success-focus shadow-sm;
      &.w-btn-active {
        @apply bg-success-focus;
      }
    }
    &.w-btn-outline {
      @apply text-success hover:(bg-success text-success-content) border-2 border-success;
      &.w-btn-active {
        @apply bg-success text-success-content;
      }
    }
    &.w-btn-transparent {
      @apply text-success hover:(bg-success/10);
      &.w-btn-active {
        @apply bg-success/10;
      }
    }
    &.w-btn-link {
      @apply text-success hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
  }
  &.w-btn-danger {
    &:focus-visible {
      @apply outline-danger;
    }
    &.w-btn-default {
      @apply bg-danger text-danger-content hover:bg-danger-focus shadow-sm;
      &.w-btn-active {
        @apply bg-danger-focus;
      }
    }
    &.w-btn-outline {
      @apply text-danger hover:(bg-danger text-danger-content) border-2 border-danger;
      &.w-btn-active {
        @apply bg-danger text-danger-content;
      }
    }
    &.w-btn-transparent {
      @apply text-danger hover:(bg-danger/10);
      &.w-btn-active {
        @apply bg-danger/10;
      }
    }
    &.w-btn-link {
      @apply text-danger hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
  }
  &.w-btn-warning {
    &:focus-visible {
      @apply outline-warning;
    }
    &.w-btn-default {
      @apply bg-warning text-warning-content hover:bg-warning-focus shadow-sm;
      &.w-btn-active {
        @apply bg-warning-focus;
      }
    }
    &.w-btn-outline {
      @apply text-warning hover:(bg-warning text-warning-content) border-2 border-warning;
      &.w-btn-active {
        @apply bg-warning text-warning-content;
      }
    }
    &.w-btn-transparent {
      @apply text-warning hover:(bg-warning/10);
      &.w-btn-active {
        @apply bg-warning/10;
      }
    }
    &.w-btn-link {
      @apply text-warning hover:underline;
      &.w-btn-active {
        @apply underline;
      }
    }
  }
  &.w-btn-disabled {
    @apply cursor-not-allowed pointer-events-none !bg-opacity-70 border-opacity-50 text-opacity-80;
  }
  &.w-btn-loading {
    @apply pointer-events-none;
  }
  &.w-btn-pills {
    @apply rounded-full;
  }
  &.w-btn-xs {
    @apply h-8  px-2 text-xs;
    &.w-btn-circle {
      @apply rounded-full w-8 !p-0;
    }
    .w-icon-loading {
      @apply h-3 w-3 mr-1;
    }
  }
  &.w-btn-sm {
    @apply h-10  px-3 text-sm;
    &.w-btn-circle {
      @apply rounded-full w-10 !p-0;
    }
    .w-icon-loading {
      @apply h-4 w-4 mr-2;
    }
  }
  &.w-btn-md {
    @apply h-12 px-4 text-sm;
    &.w-btn-circle {
      @apply rounded-full w-12 !p-0;
    }
    .w-icon-loading {
      @apply h-5 w-5 -ml-1 mr-2;
    }
  }
  &.w-btn-lg {
    @apply h-14 px-5 text-base;
    &.w-btn-circle {
      @apply rounded-full w-14 !p-0;
    }
    .w-icon-loading {
      @apply h-6 w-6 -ml-1 mr-3;
    }
  }
  &.w-btn-xl {
    @apply h-16 px-6 text-xl;
    &.w-btn-circle {
      @apply rounded-full w-16 !p-0;
    }
    .w-icon-loading {
      @apply h-7 w-7 -ml-1 mr-3;
    }
  }
  .w-icon-loading {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  .w-icon-circle {
    @apply opacity-25;
  }
  .w-icon-path {
    @apply opacity-75;
  }
 
  //responsive sm:()
  &.w-btn-sm-xs {
    @apply sm:w-btn-xs;
  }
  &.w-btn-sm-sm {
    @apply sm:w-btn-sm;
  }
  &.w-btn-sm-md {
    @apply sm:w-btn-md;
  }
  &.w-btn-sm-lg {
    @apply sm:w-btn-lg;
  }
  &.w-btn-sm-xl {
    @apply sm:w-btn-xl;
  }
  //responsive md:()
  &.w-btn-md-xs {
    @apply md:w-btn-xs;
  }
  &.w-btn-md-sm {
    @apply md:w-btn-sm;
  }
  &.w-btn-md-md {
    @apply md:w-btn-md;
  }
  &.w-btn-md-lg {
    @apply md:w-btn-lg;
  }
  &.w-btn-md-xl {
    @apply md:w-btn-xl;
  }
  //responsive lg:()
  &.w-btn-lg-xs {
    @apply lg:w-btn-xs;
  }
  &.w-btn-lg-sm {
    @apply lg:w-btn-sm;
  }
  &.w-btn-lg-md {
    @apply lg:w-btn-md;
  }
  &.w-btn-lg-lg {
    @apply lg:w-btn-lg;
  }
  &.w-btn-lg-xl {
    @apply lg:w-btn-xl;
  }
  //responsive xl:()
  &.w-btn-xl-xs {
    @apply xl:w-btn-xs;
  }
  &.w-btn-xl-sm {
    @apply xl:w-btn-sm;
  }
  &.w-btn-xl-md {
    @apply xl:w-btn-md;
  }
  &.w-btn-xl-lg {
    @apply xl:w-btn-lg;
  }
  &.w-btn-xl-xl {
    @apply xl:w-btn-xl;
  }
}
@keyframes btnpop {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
