
.w-form-control {
    @apply flex flex-col;
  }
  .w-label {
    @apply flex select-none align-center justify-between py-2 px-1;
  }
  .w-label-text {
    @apply text-sm
  }

  .w-validation-text{
    @apply text-danger text-xs mt-2 ml-1;
  }
  
  .w-input {
    @apply border-0 border-base-gray-300 bg-base-100 rounded-$rounded-btn transition duration-200 
    ease-in-out h-12 px-4 text-sm leading-loose w-full;
  
    &:focus {
      outline: 2px solid rgb(var(--base-gray-300));
      outline-offset: 2px;
    }  

    &.w-input-bordered {
      @apply border-1 border-opacity-60;
    }
  
    &.w-input-ghost {
      @apply bg-base-100/0;
    }
  
    &.w-input-xs {
      @apply leading-relaxed;
    }
  
    &.w-input-sm {
      @apply leading-8;
    }
  
    &.w-input-md {
      @apply leading-loose;
    }
  
    &.w-input-lg {
      @apply leading-loose;
    }
  
    &.w-input-primary {
      @apply !border-primary;
      &:focus {
        outline: 2px solid rgb(var(--primary));
        outline-offset: 2px;
      }
    }
    &.w-input-secondary {
      @apply !border-secondary;
      &:focus {
        outline: 2px solid rgb(var(--secondary));
        outline-offset: 2px;
      }
    }
    &.w-input-success {
      @apply !border-success;
      &:focus {
        outline: 2px solid rgb(var(--success));
        outline-offset: 2px;
      }
    }
    &.w-input-warning {
      @apply !border-warning;
      &:focus {
        outline: 2px solid rgb(var(--warning));
        outline-offset: 2px;
      }
    }
    &.w-input-danger {
      @apply !border-danger;
      &:focus {
        outline: 2px solid rgb(var(--danger));
        outline-offset: 2px;
      }
    }

    &.w-input-error {
      @apply !border-danger;
      &:focus {
        outline: 2px solid rgb(var(--danger));
        outline-offset: 2px;
      }
    }

    &:disabled {
      @apply cursor-not-allowed  bg-opacity-20 text-base-text text-opacity-80 placeholder-base-gray-400/40;
    }

  }