
.w-toggle {
    --handleoffset: 1.5rem;  
    @apply appearance-none cursor-pointer border border-base-gray-300 bg-base-gray-400/60 rounded-$rounded-badge duration-300 ease-in-out;
    transition: background, box-shadow var(--animation-input, 0.2s) ease-in-out;
    box-shadow: calc(var(--handleoffset) * -1) 0 0 2px rgb(var(--base-100)) inset,
      0 0 0 2px rgb(var(--base-100)) inset;
    &:focus-visible {
      outline: 2px solid rgb(var(--primary));
      outline-offset: 2px;
    }
    &:checked,
    &[checked="true"] {
      @apply border-opacity-100 bg-opacity-100;
      box-shadow: var(--handleoffset) 0 0 2px rgb(var(--base-100)) inset,
        0 0 0 2px rgb(var(--base-100)) inset;
    }
  
    &.w-toggle-primary {
      &:focus-visible {
        outline: 2px solid rgb(var(--primary));
        outline-offset: 2px;
      }
      &:checked,
      &[checked="true"] {
        --chkbg: rgb(var(--primary));
        @apply border-primary;
        @apply border-primary border-opacity-10 bg-primary text-primary;
      }
    }
    &.w-toggle-secondary {
       &:focus-visible {
        outline: 2px solid rgb(var(--secondary));
        outline-offset: 2px;
      }
      &:checked,
      &[checked="true"] {
        --chkbg: rgb(var(--secondary));
        @apply border-secondary;
        @apply border-secondary border-opacity-10 bg-secondary text-secondary;
      }
    }
    &.w-toggle-success {
        &:focus-visible {
        outline: 2px solid rgb(var(--success));
        outline-offset: 2px;
      }
      &:checked,
      &[checked="true"] {
        --chkbg: rgb(var(--success));
        @apply border-success;
        @apply border-success border-opacity-10 bg-success text-success;
      }
    }
    &.w-toggle-danger {
         &:focus-visible {
        outline: 2px solid rgb(var(--danger));
        outline-offset: 2px;
      }
      &:checked,
      &[checked="true"] {
        --chkbg: rgb(var(--danger));
        @apply border-danger;
        @apply border-danger border-opacity-10 bg-danger text-danger;
      }
    }
    &.w-toggle-warning {
        &:focus-visible {
        outline: 2px solid rgb(var(--warning));
        outline-offset: 2px;
      }
      &:checked,
      &[checked="true"] {
        --chkbg: rgb(var(--warning));
        @apply border-warning;
        @apply border-warning border-opacity-10 bg-warning text-warning;
      }
    }

    &:disabled {
        @apply cursor-not-allowed  border-white/0 !bg-base-gray-400 bg-opacity-20;
    }
  }